.rbcColors{
	background-color: #002144;
	color: white;
    margin-top:40px;
}
html, h1{
	font: 40px arial;
}
div{
	margin: auto;
	font: 16px arial;
	text-align: left;
	border: 0px solid white;
}
p{
	font: 20px arial;
}